.container{
    background: #a8e3ff;
}

.jumbotron {
    max-height: 250px;
    padding: 20px;
    margin-bottom: 0;
}

#buttonsDiv{
    margin-top: 20px;
}

#addAnimalButton{
    margin-left: 20px;    
    margin-bottom: 10px;
}

#newAnimal{
    margin-top: 20px;
    margin-bottom: 20px;
}

.animalImage{
  margin-right: 20px;
  margin-top: 20px;
}

.rating{
    margin-top: 5px;
}

#gifsDiv{
    padding-left: 20px;
    padding-right: 20px;
}